
.spring::before {
  content: 🌼;
  margin-right: 5px; /* добавим отступ между маркером и текстом */
}

.summer::before {
  content: ☀️;
  margin-right: 5px;
}

.autumn::before {
  content: ☔️;
  margin-right: 5px;
}

.winter{
  background-color: blue;
  color: white;
  list-style-image: "❄️";
}